# Basics
gradio
fastapi
uvicorn
requests
mdtex2html

# LLMs
modelscope
tokenizers
transformers
accelerate
cpm_kernels
protobuf
sentencepiece
tiktoken

# PyTorch
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
